# Production settings with secrets
appsettings.Production.json

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
GameScrubsV2/appsettings.Production.json
